@import url('https://fonts.googleapis.com/css?family=Raleway:400,400');

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

body {
  padding: 50px;
  font-family: 'Raleway', helvetica;
  font-weight: 400p
}

.quote-box {
  font-family: 'Raleway', helvetica;
  background-color: #fff;
  width: 450px;
  margin: 8% auto;
  position: relative;
  border-radius: 3px;
  display: table;
  padding: 40px 50px;
}

.quote-box .buttons .button {
  border: none;
  border-radius: 3px;
  color: #fff;
  font-size: 0.85em;
  padding: 8px 18px 6px 18px;
  margin-top: 30px;
  opacity: 1;
  cursor: pointer;
  outline: none
}

#new-quote {
  float: right;
}

#tweet-quote {
  float: left;
  font-size: 1.2em;
  text-align: center;
  padding: 8px 0 28px 0;
  margin-right: 5px;
  width: 40px;
  height: 30px;
}