@import url('https://fonts.googleapis.com/css?family=Raleway:400,400');

* {
  margin: 0;
  text-align: center;
}

body {
  padding: 50px;
}

#quote-box {
  font-family: 'Raleway', helvetica;
  background-color: #fff;
  width: 450px;
  margin: 8% auto;
  position: relative;
  border-radius: 3px;
  display: table;
  padding: 40px 50px;
}

.button {
  height: 30px;
  border: none;
  border-radius: 3px;
  color: #fff;
  font-size: 0.85em;
  padding: 8px 18px 6px 18px;
  margin-top: 30px;
  opacity: 1;
  cursor: pointer;
}